<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      th:fragment="FooterFragment"
      xmlns:th="http://www.thymeleaf.org">

<!-- -------------------------------------------------------------- -->
<!-- footer -->
<!-- -------------------------------------------------------------- -->
<footer class="footer text-center">
    All Rights Reserved by Cyber-Luna(사이버 루나)
</footer>
<!-- -------------------------------------------------------------- -->
<!-- End footer -->
<!-- -------------------------------------------------------------- -->


</html>