<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Crawl Results</title>
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">혀누</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 col">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="#">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">번개채용</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Url-Shorts</a>
                </li>


            </ul>
            <div class="col-auto">
                <button class="btn btn-outline-success m-2" type="submit">로그인</button>
                <button class="btn btn-outline-success m-2" type="submit">회원가입</button>
            </div>

        </div>
    </div>
</nav>
</body>
</html>