<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta content="https://www.devjune.com/static/assets/images/meta.png" property="og:image">
    <title>테스트 페이지</title>

</head>
<!-- -------------------------------------------------------------- -->
<!-- Bread crumb and right sidebar toggle -->
<!-- -------------------------------------------------------------- -->
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">채용공고 메일링</h3>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">메인</a>
            </li>
            <li class="breadcrumb-item active">구독/해제</li>
        </ol>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
        <div class="d-flex mt-2 justify-content-end">

        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->


    <div class="row mt-3">


        <div class="col-md-6 offset-md-3 bg-light py-2 px-3 ">
            <div th:if="${user.isSubScribe()}==true">
                <p class="alert alert-primary" role="alert">
                    <strong>회원님은 </strong> 현재 구독중 이십니다.
                </p>
            </div>
            <div th:if="${user.isSubScribe()}!=true">
                <p class="alert alert-danger" role="alert">
                    <strong>회원님은 </strong> 현재 구독 중이 아니십니다.
                </p>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">구독 정보</h4>
                    <div th:if="${user.isSubScribe()}==true">
                        <h5 class="card-subtitle mb-3 pb-3 border-bottom">
                            구독 해주셔서 감사합니다.
                        </h5>
                    </div>
                    <div th:if="${user.isSubScribe()}!=true">
                        <h5 class="card-subtitle mb-3 pb-3 border-bottom">
                            구독 하시면 최신 취업 공고를 받아 보실 수 있습니다.
                        </h5>
                    </div>
                    <form method="post" action="/crawling/subScribe">
                        <div class="d-md-flex align-items-center">
                            <div class="mt-3 mt-md-0 ms-auto">
                                <button class=" btn btn-primary font-weight-medium rounded-pill px-4" type="submit">
                                    <div class="d-flex align-items-center">
                                        <svg class="feather feather-send feather-sm fill-white me-2" fill="none"
                                             height="24"
                                             stroke="currentColor"
                                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <line x1="22" x2="11" y1="2" y2="13"></line>
                                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                        </svg>
                                        등록/해제
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End PAge Content -->
    <!-- -------------------------------------------------------------- -->
</div>

<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->

</html>