<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
</head>
<body>
<h1>Admin page </h1>
회원 관리 , 검색된 뭐시깽 이 등등 관리 할수 있는거
<div class="container">
    <span><a href="/admin/userManagement">UserManagement</a></span>
    <div>
        <form action="/admin/updateEmailSchedule" method="post">
            <label>
                <select name="period">
                    <option value="am">오전</option>
                    <option value="pm">오후</option>
                </select>
            </label>
            <label>
                <select name="hour">
                    <option value="1">1시</option>
                    <option value="2">2시</option>
                    <option value="3">3시</option>
                    <option value="4">4시</option>
                    <option value="5">5시</option>
                    <option value="6">6시</option>
                    <option value="7">7시</option>
                    <option value="8">8시</option>
                    <option value="9">9시</option>
                    <option value="10">10시</option>
                    <option value="11">11시</option>
                    <option value="12">12시</option>
                </select>
            </label>

            <input type="submit" value="변경">
        </form>
    </div>
</div>
</body>
</html>