<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <script th:if="${redirect}">
        //ㅍ ㅔ이지 로드시 실행됨
        window.onload=function(){
            alert("비밀번호 변경에 성공하였다. ")
            window.location.href="/";
        }


    </script>

</head>
<body>
<h2>비밀번호 변경</h2>

<form action="/user/changePassword" method="post">
    <div>
        <label for="currentPassword">현재 비밀번호:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
    </div>
    <div>
        <label for="newPassword">새로운 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <label for="confirmPassword">비밀번호 확인:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit">비밀번호 변경</button>
</form>
<!-- 에러 메시지 표시 -->
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>

</body>
</html>
