<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 비밀번호 찾기 </h1>
<form action="/user/findPassword" method="post">
    email : <input type="email" name="email" placeholder="이메일을 입력하세요">
    username : <input type="text" name="username" placeholder="가입한 아이디를 입력하세요">
    <!-- 오류 메시지 표시 -->

    <button type="submit">확인</button>
</form>
<div th:if="${errorMessage}">
    <span th:text="${errorMessage}"></span>
</div>

</body>
</html>