<!-- COMPLETED -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta
            content="김현우 포트폴리오"
            name="keywords"
    />
    <meta
            content="김현우 포트폴리오"
            name="description"
    />
    <meta content="noindex,nofollow" name="robots"/>
    <title>김현우 포트폴리오</title>
    <link
            href="https://www.devjune.com/"
            rel="canonical"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta content="https://www.devjune.com/static/assets/images/meta.png" property="og:image">
    <!-- Favicon icon -->
    <link
            href="/static/assets/images/favicon.png"
            rel="icon"
            sizes="16x16"
            type="image/png"
    />
    <script src="/static/js/skillStack.js"></script>
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="main-wrapper">

    <div class="auth-wrapper d-flex no-block  justify-content-center align-items-center"
         style="background: url('/static/assets/images/big/auth-bg.jpg') no-repeat center center;">

        <div class="auth-box p-4 bg-white rounded">
            <div id="findPasswordForm">
                <div class="logo">
                    <h3 class="text-center box-title mb-3">비밀번호 찾기</h3>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <form th:action="@{/user/findPassword}" method="post" id="findPassword" >
                            <label for="email"></label>
                            <input
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="이메일을 입력하세요"
                                    type="text">
                            <label for="username"></label>
                            <input
                                    class="form-control"
                                    id="username"
                                    name="username"
                                    placeholder="가입한 아이디를 입력하세요"
                                    type="text">
                            <!-- 오류 메시지 표시 -->
                            <div class="d-flex align-items-stretch">
                                <button class="btn btn-info d-block w-100" type="submit">
                                    확인
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger error-message" role="alert" th:if="${errorMessage}">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
        <script src="/static/dist/libs/jquery/dist/jquery.min.js"></script>
        <script src="/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</div>
<script th:inline="javascript">
    /* Thymeleaf를 사용해 서버에서 successMessage를 가져옴 */
    var successMessage = /*[[${successMessage}]]*/ null;

    /* successMessage가 있다면 alert 메시지 표시 후 홈 화면으로 리디렉션 */
    if (successMessage) {
        alert(successMessage);
        window.location.href = '/'; // 홈 화면으로 리디렉션할 URL을 여기에 지정하세요
    }
</script>
</body>
</html>