<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta
            content="김현우 포트폴리오"
            name="keywords"
    />
    <meta
            content="김현우 포트폴리오"
            name="description"
    />
    <meta content="noindex,nofollow" name="robots"/>
    <title>김현우 포트폴리오</title>
    <link
            href="https://www.devjune.com/"
            rel="canonical"
    />

    <!-- <link href="../package/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="dist/css/style.css"> -->
    <link href="/static/dist/css/style_main.css" rel="stylesheet"/>

    <meta content="https://www.devjune.com/static/assets/images/meta.png" property="og:image">
    <style>
        .image-box {
            width: 450px; /* 강제로 이미지 박스의 너비를 200px로 설정 */
            height: 400px; /* 강제로 이미지 박스의 높이를 150px로 설정 */
        }
        .image-box image{
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>
<!-- <div class="preloader">
      <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
  </div> -->

<!--Main-wrapper-->
<div class="main-wrapper">
    <header class="topheader py-3" id="top">
        <div class="container-fluid">
            <div class="px-3">
                <nav class="navbar navbar-expand-md navbar-light ps-0">

                    <!-- Logo will be here -->
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="/static/assets/images/logo-icon.png"/></a>

                    <!--Toggle button-->
                    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarNavDropdown"
                            data-bs-toggle="collapse"
                            type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <!-- This is the navigation menu -->
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto stylish-nav">

                            <th:block th:if="${username}==anonymousUser">
                                <li class="nav-item ms-3 mt-2 mt-md-0">
                                    <a class="btn btn-info" href="/user/login">로그인</a>
                                </li>
                                <li class="nav-item ms-3 mt-2 mt-md-0">
                                    <a class="btn btn-info" href="/user/register">회원가입</a>
                                </li>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()" th:if="${username}!=anonymousUser">
                                <li class="nav-item ms-3 mt-2 mt-md-0">
                                    <a class="btn btn-info" href="/user/modify">회원정보</a>
                                </li>
                                <li class="nav-item ms-3 mt-2 mt-md-0">
                                    <a class="btn btn-info" href="/user/logout">로그아웃</a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!--page wrapper-->
    <div class="page-wrapper">
        <section class="overflow-hidden">
            <div class="container-fluid pt-6">
                <div class="">
                    <div class="row px-3  banner-text">
                        <div class="col-lg-5 mt-4 text-center text-lg-start">
                            <h2 class="lh-base">
                                당신에게 필요한 기능들은
                                <br>바로 여기
                                <span class="text-info">devJune</span>에서 찾아요!
                            </h2>
                            <p class="subtext my-6">
                                <span class="fw-normal"><i class="fa fa-check text-info"></i>✅ Url-Shorts - 긴 URL을 짧게 변환 </span><br>
                                <span class="fw-normal"><i class="fa fa-check text-info"></i>✅ CareersConnect - 취업을 잇다</span><br>
                                <span class="fw-normal"><i class="fa fa-check text-info"></i>✅ 관리자 페이지 - 각종 기능을 관리자 화면에서 제어</span>

                            </p>
                            <div class="mt-2 d-flex flex-wrap gap-2 gap-xl-4 justify-content-center justify-content-lg-start">
                                <a class="text-nowrap btn btn-lg btn-info mb-2"
                                   href="https://github.com/dope66">Github</a>
                                <a class="text-nowrap btn btn-lg px-9 btn-success mb-2"
                                   href="https://velog.io/@devjuneh_66">Blog</a>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="hero-banner">
                                <img alt="" src="/assets/images/banner.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Beautiful bootstrap-->
        <section class="bg-light-primary">
            <div class="container-fluid">


                <div class="row px-3  pb-10 justify-content-center">
                    <div class="col-sm-6 col-md-4 mt-7">
                        <div class="image-box">
                            <a href="/Short/main" target="_blank">
                                <img alt="demo1" class="image w-100 h-100" src="/static/assets/images/material-demo1.webp"/>
                            </a>
                        </div>
                        <h5 class="text-center my-4 fw-normal">Url-Shorts</h5>
                    </div>


                    <div class="col-sm-6 col-md-4 mt-7">
                        <div class="image-box">
                            <a href="/crawling/list"
                               target="_blank">
                                <img alt="demo2" class="image w-100 h-100" src="/static/assets/images/material-demo2.webp"/>
                            </a>
                        </div>
                        <h5 class="text-center my-4 fw-normal">CareersConnect</h5>
                    </div>


                    <div class="col-sm-6 col-md-4 mt-7">
                        <div class="image-box">
                            <a href="/admin/userManagement"
                               target="_blank">
                                <img alt="demo3" class="image w-100 h-100" src="/static/assets/images/material-demo4.webp"/>
                            </a>
                        </div>
                        <h5 class="text-center my-4 fw-normal">관리자 페이지</h5>
                    </div>
                </div>
            </div>
        </section>
        <!--End of beautiful bootstrap-->


        <!--Footer-->
        <footer class="bg-dark pt-4 pb-4">
            <div class="container-fluid">
                <div class="row px-3 ">
                    <div class="col-md-12 sub-footer mt-4 d-flex flex-wrap justify-content-between gap-3">
              <span>Copyright 2023. All Rights Reserved by
                <a class="text-white" href="#" target="_blank">김현우</a></span>
                        <span class="float-end">Developed by
                <a class="text-white" href="https://www.wrappixel.com" target="_blank">김현우</a></span>
                    </div>
                </div>
            </div>
        </footer>
        <!--End of footer-->

    </div>
    <!--End of page-wrapper-->
</div>
<!--End of main wrapper-->

<!--Scripts-->
<!-- <script src="./libs/dist/jquery.min.js"></script> -->
<script src=" /static/dist/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="./dist/js/app.js"></script> -->
</body>

</html>