

.custom-excel-file-upload{
    display: inline-block;
    width: 70px;
    padding: 2px 5px;
    height: 36px;
    color: white;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
    cursor: pointer;

}
.file-upload-container {
    margin-bottom: 10px;
}
#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    border-radius: 4px;
}
#statusText {
    margin-top: 10px;
}
#fileInput {
    display: none;
}

