
.side-menu {
    display: none;
    position: fixed;
    left: 240px; /* 기본 사이드바의 너비에 맞춤 */
    width: 200px; /* 추가 사이드 메뉴의 너비 */
    top: 0;
    height: 100%;
    margin: 71px 0px 0px 0px;
    overflow-y: auto; /* 필요한 경우 스크롤 가능 */
    /*background-color: #f8f9fa; !* 밝은 배경색 *!*/
    transition: all 0.5s; /* 부드러운 효과를 위한 transition 추가 */
    color: #27282a;

}
.side-menu ul {
    list-style-type: none; /* UL 요소 내부의 모든 리스트 아이템의 점을 제거 */
    padding-left: 0; /* 왼쪽 패딩 제거 */
}
.nav-link {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #27282a; /* 링크의 텍스트 색상 설정 */
}
.nav-item a{
    color:white;
}
#adminMenu,#workerMenu{
    background-color:#27282a ;
}