<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Url-Shorts</title>
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<!--    <div th:replace="/layout/header"></div>-->
<!-- Background Video-->
<video autoplay="autoplay" class="bg-video" loop="loop" muted="muted" playsinline="playsinline">
    <source src="/assets/mp4/bg.mp4" type="video/mp4"/>
</video>
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="row container-fluid px-4 ">

            <div class="col-12">

            </div>

            <h1 class="col-12 fst-italic lh-1 mb-4">Url-Shorts</h1>
            <p class="col-12  mb-5">복잡한 URL 전달은 그만 저희가 그 불편함을 해소 하겠습니다!</p>
            <form action="/urlMapping" class="col-12  btn btn-secondary" method="post">
                <div class="row input-group-newsletter">
                    <div class="col"><input aria-label="URL을 입력해 주세요" class="form-control" id="originalUrl"
                                            name="originalUrl"
                                            placeholder="URL을 입력해 주세요" type="text"></div>
                    <div class="col-auto">
                        <button class="btn btn-primary " id="submitButton" type="submit">입력</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="social-icons">
    <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
    </div>
</div>

</body>

</html>
