<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result Page</title>

</head>
<body>
<h1> URL JRR Result</h1>


<div class="container">
    <h2>단축 URL:</h2>
    <p>Short URL:
<!--        <input type="text" id="shortUrlInput" th:value="${'http://localhost:8080/' + shortUrl}" readonly>-->
        <input type="text" id="shortUrlInput" th:value="${serverName + '/' + shortUrl}" readonly>
        <button onclick="copyToClipboard()">Copy</button>
    </p>
    <div class="homeContainer">
        <a href="/">Home</a>
    </div>
</div>
</body>
</html>
</div>

</body>
<script>
    function copyToClipboard() {
        const shortUrlInput = document.getElementById('shortUrlInput');
        const urlToCopy = shortUrlInput.value;

        navigator.clipboard.writeText(urlToCopy)
            .then(() => {
                alert('URL가 복사 되었습니다.');
            })
            .catch((error) => {
                console.error('복사에 실패 했습니다. 에러 :', error);
            });

    }
</script>
</html>