<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Result Page</title>
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script src="/static/js/bootstrap.js"></script>


</head>

<body>
<h1> URL JRR Result</h1>


<div class="container">
    <h2>단축 URL:</h2>
    <p>Short URL:
        <!--        <input type="text" id="shortUrlInput" th:value="${'http://localhost:8080/' + shortUrl}" readonly>-->
        <input id="shortUrlInput" readonly th:value="${serverName + '/' + shortUrl}" type="text">
        <button onclick="copyToClipboard()">Copy</button>
    </p>
    <div class="homeContainer">
        <a href="/Short">Home</a>
    </div>
</div>

<script>
    function copyToClipboard() {
        const shortUrlInput = document.getElementById('shortUrlInput');
        const urlToCopy = shortUrlInput.value;

        navigator.clipboard.writeText(urlToCopy)
            .then(() => {
                alert('URL가 복사 되었습니다.');
            })
            .catch((error) => {
                console.error('복사에 실패 했습니다. 에러 :', error);
            });

    }
</script>

</body>
</html>
