<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="noindex,nofollow" name="robots"/>
    <title>MES</title>
    <link
            href="https://www.devjune.com/"
            rel="canonical"
    />
    <!-- Favicon icon -->
    <link
            href="/static/assets/images/favicon.png"
            rel="icon"
            sizes="16x16"
            type="image/png"
    />
    <!-- This page plugin CSS -->
    <link href="/static/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/workerRegister.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->
    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.light.css">
    <script src="https://cdn3.devexpress.com/jslib/21.2.4/js/dx.all.js"></script>
    <!-- ExcelJS 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <!-- FileSaver.js 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">



    <style>
        .ht_master {
            width: 100%;
            height: 100%;
        }

        .handsontable th,
        .handsontable td {
            text-align: center;
        }

        /* 필요한 추가적인 스타일 설정 가능 */
    </style>

</head>
<body>
<div class="preloader">
    <svg
            class="tea lds-ripple"
            fill="none"
            height="48"
            viewbox="0 0 37 48"
            width="37"
            xmlns="http://www.w3.org/2000/svg"
    >
        <path
                d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                stroke="#1e88e5"
                stroke-width="2"
        ></path>
        <path
                d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                stroke="#1e88e5"
                stroke-width="2"
        ></path>
        <path
                clip-rule="evenodd"
                d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"
                fill="#1e88e5"
                fill-rule="evenodd"
                id="teabag"
        ></path>
        <path
                d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12"
                id="steamL"
                stroke="#1e88e5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
        ></path>
        <path
                d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
                id="steamR"
                stroke="#1e88e5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
        ></path>
    </svg>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" style="height: 70px; left:40px;">
                <a
                        class="nav-toggler waves-effect waves-light d-block d-md-none"
                        href="javascript:void(0)"
                ><i class="ti-menu ti-close"></i
                ></a>
                <a class="navbar-brand" href="/mes/home" style="height: 70px;">

                    <span class="logo-text">
                                <b class="logo-icon">
                        <img src="/static/image/p-01.png" style="width: 50px;height: 50px;"/>
                                    <!-- Light Logo icon -->
                        <img src="/static/image/Lazer.png" style="width: 100px;height: 100px"/>
                    </b>
                        MES 시스템</span>
                </a>

                <a
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="topbartoggler d-block d-md-none waves-effect waves-light"
                        data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse"
                        href="javascript:void(0)"
                ><i class="ti-more"></i
                ></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile position-relative"
                 style="
              background: url(/static/assets/images/background/user-info.jpg)
                no-repeat;
            "
            >

            </div>
            <!-- End User profile text-->
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">

                    <li class="nav-small-cap">
                        <i class="mdi mdi-dots-horizontal"></i>
                        <span class="hide-menu">Mes</span>
                    </li>

                    <li class="nav-item">
                        <a aria-expanded="false" class="nav-link toggle-menu waves-effect waves-dark nav-link"
                           href="#" data-target="adminMenu"><i class="mdi mdi-account-box"></i>
                            <span class="hide-menu">관리자</span></a>
                        <ul id="adminMenu" class="side-menu">
                            <ul>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/basic/list"><i class="mdi mdi-database"></i>
                                        <span class="hide-menu">기초 정보</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/worker">
                                        <i class="mdi mdi-account-box"></i>
                                        <span class="hide-menu">공정원 등록</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/selectProductionOrder">
                                        <i class="mdi mdi-access-point"></i>
                                        <span class="hide-menu">생산 지시</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="#"><i class="mdi mdi-monitor-multiple"></i>
                                        <span class="hide-menu">모니터링</span></a>
                                </li>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="#"><i class="mdi mdi-chart-bar"></i>
                                        <span class="hide-menu">통계분석</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/testSearch">
                                        <i class="mdi mdi-file-document-box"></i>
                                        <span class="hide-menu">조회 검색</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/upload"><i class="mdi mdi-upload"></i>
                                        <span class="hide-menu">파일 업로드</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/orderList">
                                        <i class="mdi mdi-file-document"></i>
                                        <span class="hide-menu">생산지시 현황</span></a>
                                </li>

                            </ul>
                        </ul>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a aria-expanded="false" class="nav-link toggle-menu waves-effect waves-dark nav-link"
                           href="#" data-target="workerMenu"><i class="mdi mdi-account-box"></i>
                            <span class="hide-menu">작업자</span></a>
                        <ul id="workerMenu" class="side-menu">
                            <ul>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" id="productionOrderLink" class="sidebar-link waves-effect waves-dark sidebar-link" href="#">
                                        <i class="mdi mdi-monitor"></i>
                                        <span class="hide-menu">작업자 생산지시</span></a>
                                    <select class="custom-select" id="processEquipmentSelect" style="    background-color: #c7c7c7; margin: 0px 10px 0px;width: 180px;">
                                        <option selected>생산설비 선택</option>
                                    </select>

                                </li>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/productLog">
                                        <i class="mdi mdi-file-document-box"></i>
                                        <span class="hide-menu">생산일지</span></a>
                                </li>
                            </ul>
                        </ul>
                    </li>



                    <hr>


                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <h2><a href="/mes/basic/list" style="text-decoration: none; color: #FFFFFF;">기초 데이터</a></h2>
                    </li>
                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <!-- -------------------------------------------------------------- -->
            <!-- Start Page Content -->
            <!-- -------------------------------------------------------------- -->
            <div class="widget-content searchable-container list">
            </div>
            <div class="card card-body">
                <div class="table-responsive">
                    <!--ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ-->
                    <button id="exportButton" class="exportButton"></button>
                    <div id="listContainer"></div>

                </div>
            </div>
        </div>

    </div>

    <footer class="footer text-center">
        All Rights Reserved by 김현우
    </footer>

</div>

<!--개인-->
<script src="/js/sideBar.js"></script>
<script>
    // 엑셀 파일 내보내기
    $("#exportButton").dxButton({
        icon: "fas fa-file-excel",
        text: "내보내기",
        onClick: function() {

            const confirmed = window.confirm('엑셀 파일을 내보내시겠습니까?');

            // 사용자가 '확인'을 눌렀을 때만 exportToExcel 함수를 실행합니다.
            if (confirmed) {
                exportToExcel();
            }
        }
    });
    function exportToExcel() {

        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('My Sheet');

        // 컬럼 헤더 추가
        worksheet.columns = hot.getColHeader().map(header => ({header: header, key: header}));

        // 데이터 추가
        hot.getData().forEach(row => {
            worksheet.addRow(row);
        });

        // 엑셀 파일 생성 및 저장
        workbook.xlsx.writeBuffer().then(function(buffer) {
            saveAs(new Blob([buffer]), '기초정보.xlsx');
            alert('엑셀 파일이 성공적으로 다운로드되었습니다.'); // 성공 메시지 표시
        }).catch(function(error) {
            console.error('엑셀 파일 내보내기 중 오류가 발생했습니다: ', error);
            alert('엑셀 파일 내보내기에 실패했습니다.'); // 실패 메시지 표시
        });
    }
    // 데이터 부러오기
    fetchBasicDataList();
    function fetchBasicDataList() {
        fetch('/api/excel/basic/list')
            .then(response => response.json())
            .then(data => {
                originalData = data;
                createHandsontable(originalData);
            });
    }
    function createHandsontable(data) {
        const container = document.getElementById('listContainer');
        hot = new Handsontable(container, {
            cells: function (row, col, prop) {
                var cellProperties = {};
                cellProperties.className = 'htCenter';
                return cellProperties;
            },
            className: "htCenter",
            colWidths: [50,150,150,150,100,200,100,100,100,100,200,100,100,100,100,200,100,100,100], // 각 열의 너비를 픽셀 단위로 설정
            rowHeights: 30, // 모든 행의 높이를 픽셀 단위로 설정
            licenseKey: 'non-commercial-and-evaluation',
            data: data,
            colHeaders: ['순', '차종', '품번', '품명', '검사항목1', '검사규격1', '공차1', '확인방법1', '규격1', '검사항목2', '검사규격2', '공차2', '확인방법2', '규격2', '검사항목3', '검사규격3', '공차3', '확인방법3', '규격3'],
            columns: [
                {data: 'number', readOnly: true, className: "htCenter"},
                {data: 'vehicleType', className: "htCenter"},
                {data: 'partNumber', className: "htCenter"},
                {data: 'partName', className: "htCenter"},
                {data: 'inspectionItem1', className: "htCenter"},
                {data: 'standard1', className: "htCenter"},
                {data: 'tolerance1', className: "htCenter"},
                {data: 'method1', className: "htCenter"},
                {data: 'specification1', className: "htCenter"},
                {data: 'inspectionItem2', className: "htCenter"},
                {data: 'standard2', className: "htCenter"},
                {data: 'tolerance2', className: "htCenter"},
                {data: 'method2', className: "htCenter"},
                {data: 'specification2', className: "htCenter"},
                {data: 'inspectionItem3', className: "htCenter"},
                {data: 'standard3', className: "htCenter"},
                {data: 'tolerance3', className: "htCenter"},
                {data: 'method3', className: "htCenter"},
                {data: 'specification3', className: "htCenter"},
            ],
            hiddenColumns: {
                columns: [0], // 'ID' 열을 숨깁니다.
                indicators: false // 숨겨진 열의 지시자 표시 여부
            },
            height: 300,
            viewportRowRenderingOffset: 5, // 표시할 행의 오프셋
            columnSorting: false, // 정렬 활성화
            contextMenu: false, // 우클릭 메뉴 활성화
            manualRowMove: true, // 행 이동 활성화
            manualColumnMove: true, // 열 이동 활성화
            filters: true, // 필터링 활성화
            dropdownMenu: false, // 드롭다운 메뉴 활성화
            rowHeaders: true, // 행 번호 표시
            search: true, // 검색 기능 활성화
            afterOnCellMouseDown: function (event, coords) {
                const rowData = hot.getSourceDataAtRow(coords.row);
                // applyDataToForm(rowData);
                console.log("rowData", rowData);
                // updateWorkerContainer(rowData);
            }
        });
    }

    fetchBasicDataList();

</script>





<!--<script src="/static/dist/libs/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- apps -->
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/app.init.dark.js"></script>
<script src="/static/dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/dist/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.js"></script>
<script src="/static/dist/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="/static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/dist/js/feather.min.js"></script>
<script src="/static/dist/js/custom.min.js"></script>
<!--This page plugins -->
<script src="/static/dist/js/pages/contact/contact.js"></script>


</body>
</html>
