<!DOCTYPE html>
<html lang="en"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>초중종물 검사</title>
    <style>

        body {
            background-color: #000;
            color: #FFFFFF;
        }

        input, select {
            margin-bottom: 10px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            background-color: #000;
            color: #00ff00;
            font-weight: bold;
        }

        #workerImage {
            align-content: end;
            object-fit: contain;
            width: 300px;
            height: 300px;
        }

        #keyboardModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #3c3c3c;
            z-index: 1000;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .keyboard-row {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;
        }

        .keyboard-button {
            display: flex; /* Flex 컨테이너로 설정 */
            justify-content: center; /* 가로축 중앙 정렬 */
            align-items: center; /* 세로축 중앙 정렬 */
            text-align: center; /* 텍스트 중앙 정렬 */
            color: #FFFFFF;
            padding: 15px 25px;
            margin: 0 5px;
            border: 1px solid #5d5d5d;
            border-radius: 4px;
            background-color: #4a4a4a;
            cursor: pointer;
            transition: background-color 0.3s ease;
            flex: 1;
            width: auto; /* 버튼의 너비를 자동으로 설정하여 패딩에 따라 크기가 조정되도록 함 */
            height: auto; /* 버튼의 높이를 자동으로 설정 */
        }

        .keyboard-button:hover {
            background-color: #e0e0e0;
        }

        .keyboard-ok-button {
            padding: 15px 25px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .keyboard-ok-button:hover {
            background-color: #45a049;
        }

        #info-table-1 {
            width: 100%;
        }

        #info-table-2 {
            width: 100%;

        }

        #tables-container {
            display: flex;
        }

        #test-note {
            width: 85%;
        }

        #test-note select {
            width: 100%;
        }

    </style>
</head>
<body>
<table id="info-table-1" th:border="1">
    <thead>
    <th>생산설비</th>
    <th>호기</th>
    <th>검사 1</th>
    <th>검사 2</th>
    </thead>
    <tbody>
    <form id="production-test-form">
        <tr>
            <td>
                <select name="processName" id="processName" required>
                    <option value="" disabled selected>생산 설비</option>
                </select>
            </td>
            <td>
                <select name="equipmentName" id="equipmentName" required>
                </select>
            </td>

            <td>
                <input type="text" readonly value="검사 1" id="test1">
            </td>
            <td>
                <input type="text" readonly value="검사 2" id="test2">
            </td>

        </tr>

    </form>
    </tbody>
</table>
<table id="info-table-2" th:border="1">
    <thead>
    <th>고객사</th>
    <th>비고</th>
    <th>생산수량</th>
    <th>불량수량</th>
    </thead>
    <tbody>
    <td style="width : 200px"><input type="text" id="company"></td>
    <td><input type="text" id="note"></td>
    <td style="width : 200px">
        <input type="text" name="productionCount" id="productionCount" placeholder="0" style="width: 100%" required
               onfocus="openKeyboardForCount('productionCount')">
    </td>
    <td style="width : 200px">
        <input type="text" name="defectCount" id="defectCount" placeholder="0" style="width: 100%" required
               onfocus="openKeyboardForCount('defectCount')">
    </td>

    </tbody>
</table>
<div id="tables-container">
    <table th:border="1" id="test-note">
        <thead>
        <th>순번</th>
        <th>검사항목</th>
        <th>검사규격</th>
        <th>확인방법</th>
        <th>결과</th>
        </thead>
        <tbody>
        <!--현재는 그냥 넣을 것이지만 나중에는 해당하는 검사 유형을 불러와서 해야 함-->
        <tr>
            <td>1</td>
            <td>외관</td>
            <td>외관기준서에 준함</td>
            <td>육안</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>외관</td>
            <td>스크래치 없을 것</td>
            <td>육안</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>외관</td>
            <td>이물질이 없을 것</td>
            <td>육안</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>외관</td>
            <td>발청이 없을 것</td>
            <td>육안</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>기준홀</td>
            <td>&phi; 2.0에 준함</td>
            <td>V/C</td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>기준홀</td>
            <td>&phi; 4.0에 준함</td>
            <td>V/C</td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>기준홀</td>
            <td>&phi; 6.0에 준함</td>
            <td>V/C</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <table id="info-table-3" th:border="1">
        <thead>
        <th>공정원</th>
        </thead>
        <tbody>
        <td>
            <div id="image-container">
                <img id="workerImage" alt="workerImage" src="/static/image/defaultWorker.png">
            </div>
            <select name="processWorker" id="processWorker" style="width : 300px; " required></select>
        </td>
        <tr>
            <td>
                <button onclick="registTest()" id="test-submit" style="width: 100%">등록</button>
            </td>
        </tr>
        </tbody>

    </table>

</div>
<input type="hidden" id="workerId">
<div id="keyboardModal" class="modal">
    <div class="modal-content">
        <div class="keyboard-row">
            <button class="keyboard-button" onclick="pressKey(1)">1</button>
            <button class="keyboard-button" onclick="pressKey(2)">2</button>
            <button class="keyboard-button" onclick="pressKey(3)">3</button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-button" onclick="pressKey(4)">4</button>
            <button class="keyboard-button" onclick="pressKey(5)">5</button>
            <button class="keyboard-button" onclick="pressKey(6)">6</button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-button" onclick="pressKey(7)">7</button>
            <button class="keyboard-button" onclick="pressKey(8)">8</button>
            <button class="keyboard-button" onclick="pressKey(9)">9</button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-button" onclick="pressKey('Backspace')"><</button>
            <button class="keyboard-button" onclick="pressKey(0)">0</button>
            <button class="keyboard-button" onclick="pressKey('.')"
                    style="width: 62px;height: 53px;"
            >.
            </button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-button" onclick="pressKey('Cancel')">cancel</button>
            <button class="keyboard-ok-button" onclick="pressKey('OK')">OK</button>
        </div>

    </div>
</div>
</body>
<script>
    const selectedProcessName = document.getElementById("processName");
    const equipmentNameSelect = document.getElementById("equipmentName");
    const workerNameSelect = document.getElementById("processWorker");
    const worekerIdselect = document.getElementById("workerId");
    var imageElement = document.querySelector("#workerImage");

    workerNameSelect.innerHTML = '<option value="" disabled selected>공정원 선택</option>';
    // 페이지 로드 시 processNameSelect 요소 초기화
    fetch('/api/worker/getProcessName')
        .then(response => response.json())
        .then(data => {
            console.log("processname: ", data);
            data.forEach(processName => {
                const option = document.createElement('option');
                option.text = processName;
                option.value = processName;
                selectedProcessName.appendChild(option);
            });
        })
        .catch(error => {
            console.error('fetch 오류 요청 ', error);
        });


    fetchProcessNameAndWorkerName();
    fetchEquipmentName();
    /*
    * 공정명을 이용한 함수
    * */
    // 공정명과 호기 이름을 가져오는 함수
    function fetchProcessNameAndWorkerName() {
        // equipmentNameSelect 초기화
        equipmentNameSelect.innerHTML = '<option value="" disabled selected>호기 선택</option>';
        //공정명값으로 호기 가져오기
        if (selectedProcessName.value) {
            console.log("selectedProcessName: ", selectedProcessName.value);
            fetch(`/api/worker/getEquipmentName?processName=${selectedProcessName.value}`)
                .then(response => response.json())
                .then(equipmentNames => {
                    console.log("equipmentName : ", equipmentNames);
                    equipmentNames.forEach(equipmentName => {
                        const option = document.createElement('option');
                        option.text = equipmentName;
                        option.value = equipmentName;
                        equipmentNameSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('fetch 오류 요청 ', error);
                });
            //공정 명으로 공정원 가져외기
            fetch(`/api/worker/getWorkerNameWithProcessName?processName=${selectedProcessName.value}`)
                .then(response => response.json())
                .then(workerNames => {
                    const workerNameSelect = document.getElementById('processWorker');
                    workerNameSelect.innerHTML = '<option value="" disabled selected>공정원 선택</option>';
                    workerNames.forEach(workerName => {
                        const option = document.createElement('option');
                        option.text = workerName;
                        option.value = workerName;
                        workerNameSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('fetch 오류 요청 ', error);
                });
            equipmentNameSelect.addEventListener('change', () => {
                console.log("공정명 값이 있고 호기 변경이 있을 경우 ")
                workerNameSelect.innerHTML = '<option value="" disabled selected>공정원 선택</option>';
                imageElement.src = "/static/image/defaultWorker.png";
                fetchProcessNameAndEquipmentName();
            });
        }
    }

    selectedProcessName.addEventListener('change', () => {
        // productionType 변경 시 productionName 값 초기화
        equipmentNameSelect.value = '';
        workerNameSelect.value = '';
        imageElement.src = "/static/image/defaultWorker.png";
        fetchProcessNameAndWorkerName();
    });

    // 공정명이 존재한 상태에서 호기 변경시 공정원 이름 변경
    function fetchProcessNameAndEquipmentName() {
        const processName = selectedProcessName.value;
        const equipmentName = equipmentNameSelect.value;

        // workerName을 가져오는 fetch 요청을 select option이 변경되었을 때 실행
        fetch(`/api/worker/getWorkerName?processName=${processName}&equipmentName=${equipmentName}`)
            .then(response => response.json())
            .then(workerInfos => {
                workerNameSelect.innerHTML = '<option value="" disabled selected>공정원 선택</option>';
                workerInfos.forEach(workerInfo => {
                    const option = document.createElement('option');
                    option.text = workerInfo;
                    option.value = workerInfo;
                    workerNameSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('fetch 오류 요청 ', error);
            });

    }

    /*
    * 호기를 이용한 함수
    * */

    // 모든 호기 가져오기
    fetch(`/api/worker/getAllEquipmentName`)
        .then(response => response.json())
        .then(equipmentNames => {
            console.log("equipmentNames: ", equipmentNames);
            equipmentNames.forEach(equipmentName => {
                const option = document.createElement('option');
                option.text = equipmentName;
                option.value = equipmentName;
                equipmentNameSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('fetch 오류 요청 ', error);
        });

    function fetchEquipmentName() {
        console.log("공정명이 선택되지 않은 경우");
        equipmentNameSelect.innerHTML = '<option value="" disabled selected>호기 선택</option>';
        workerNameSelect.innerHTML = '<option value="" disabled selected>공정원 선택</option>';
    }
    // workerName을 선택한 후에 Id를 가져오는 함수
    function fetchWorkerId() {
        const processName = selectedProcessName.value;
        const equipmentName = equipmentNameSelect.value;
        const workerName = workerNameSelect.value;

        if (processName && equipmentName && workerName) {
            fetch(`/api/worker/getWorkerId?processName=${processName}&equipmentName=${equipmentName}&workerName=${workerName}`)
                .then(response => response.json())
                .then(workerId => {
                    console.log("workerId", workerId);
                    worekerIdselect.value = workerId;
                    var imageUrl = "/api/worker/getBase64Image?id=" + workerId;
                    fetch(imageUrl)
                        .then(function (response) {
                            // 이미지가 성공적으로 로드되었는지 확인
                            if (!response.ok) throw new Error('Image not found');
                            return response.text();
                        })
                        .then(function (data) {
                            // 성공적으로 이미지 데이터를 받아온 경우
                            var imageElement = document.querySelector("#workerImage");
                            if (imageElement) {
                                imageElement.src = data;
                            }
                        })
                        .catch(function (error) {
                            // 이미지 로드에 실패한 경우 기본 이미지로 대체
                            console.error('Error:', error);
                            var imageElement = document.querySelector("#workerImage");
                            if (imageElement) {
                                imageElement.src = "/static/image/defaultWorker.png"; // 기본 이미지 경로 설정
                            }
                        });
                })
                .catch(error => {
                    console.error('아이디를 가져오는 도중 오류 발생: ', error);
                });
        } else if (processName && workerName) {
            fetch(`/api/worker/getWorkerIdWithProcessNameAndWorkerName?processName=${processName}&workerName=${workerName}`)
                .then(response => response.json())
                .then(workerId => {
                    console.log("공정명과 공정원 이름으로 id 가져오기 workerId : ", workerId);
                    worekerIdselect.value = workerId;
                    var imageUrl = "/api/worker/getBase64Image?id=" + workerId;
                    fetch(imageUrl)
                        .then(function (response) {
                            // 이미지가 성공적으로 로드되었는지 확인
                            if (!response.ok) throw new Error('Image not found');
                            return response.text();
                        })
                        .then(function (data) {
                            // 성공적으로 이미지 데이터를 받아온 경우
                            var imageElement = document.querySelector("#workerImage");
                            if (imageElement) {
                                imageElement.src = data;
                            }
                        })
                        .catch(function (error) {
                            // 이미지 로드에 실패한 경우 기본 이미지로 대체
                            console.error('Error:', error);
                            var imageElement = document.querySelector("#workerImage");
                            if (imageElement) {
                                imageElement.src = "/static/image/defaultWorker.png"; // 기본 이미지 경로 설정
                            }
                        });
                })
                .catch(error => {
                    console.error('아이디를 가져오는 도중 오류 발생: ', error);
                });

        }
    }

    // workerName select option이 변경될 때마다 fetchWorkerId 함수 실행
    workerNameSelect.addEventListener('change', fetchWorkerId);


</script>
<script defer src="/static/js/TestRegister.js"></script>
<script defer src="/static/js/simpleKeyboard.js"></script>

</html>