<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label for="productionType">
    <select name="productionType" id="productionType"></select>
</label>

<select name="productionNumber" id="productionNumber"></select>
<input type="text" readonly id="productionName">

<select name="processWorker" id="processWorker"></select>
<input type="text" readonly value="검사 1" id="test1">
<input type="text" readonly value="검사 2" id="test2">
</body>
</html>