<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>생산지시</title>
    <style>
        .start-button {
            padding: 5px 10px;
            border: 1px solid #007bff;
            background-color: #007bff;
            color: white;
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
            align-items: center;
            right: auto;
            width: 270px;
        }

        /* 버튼 호버 시의 스타일 */
        .start-button:hover {
            background-color: #0056b3; /* 호버 시 배경색 */
        }
    </style>
</head>
<!-- Handsontable CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
<!-- Handsontable JS -->
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<body>
<div id="productionOrder-table">
    <button id="movePageButton" class="search">초중종물 검사 실행</button>
    <div id="productionOrder-list"></div>
</div>
</body>
<script src="/js/productionOrder.js"></script>
</html>
