<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="noindex,nofollow" name="robots"/>
    <title>모니터링</title>
    <link
            href="https://www.devjune.com/"
            rel="canonical"
    />
    <!-- Favicon icon -->
    <link
            href="/static/assets/images/favicon.png"
            rel="icon"
            sizes="16x16"
            type="image/png"
    />
    <!-- This page plugin CSS -->
    <link href="/static/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/workerRegister.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/pageCss.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

</head>
<body>
<div class="preloader">
    <svg
            class="tea lds-ripple"
            fill="none"
            height="48"
            viewbox="0 0 37 48"
            width="37"
            xmlns="http://www.w3.org/2000/svg"
    >
        <path
                d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                stroke="#1e88e5"
                stroke-width="2"
        ></path>
        <path
                d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                stroke="#1e88e5"
                stroke-width="2"
        ></path>
        <path
                clip-rule="evenodd"
                d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"
                fill="#1e88e5"
                fill-rule="evenodd"
                id="teabag"
        ></path>
        <path
                d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12"
                id="steamL"
                stroke="#1e88e5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
        ></path>
        <path
                d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
                id="steamR"
                stroke="#1e88e5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
        ></path>
    </svg>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" style="height: 70px; left:40px;">
                <a
                        class="nav-toggler waves-effect waves-light d-block d-md-none"
                        href="javascript:void(0)"
                ><i class="ti-menu ti-close"></i
                ></a>
                <a class="navbar-brand" href="/mes/home" style="width: 130px; height: 70px;">

                    <span class="logo-text">
                                <b class="logo-icon">
             <img src="/static/image/p-01.png" loading="lazy" style="width: 50px;height: 50px;"/>
                    </b>
                        MES 시스템</span>
                </a>

                <a
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="topbartoggler d-block d-md-none waves-effect waves-light"
                        data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse"
                        href="javascript:void(0)"
                ><i class="ti-more"></i
                ></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile position-relative"
                 style="
              background: url(/static/assets/images/background/user-info.jpg)
                no-repeat;
            "
            >

            </div>
            <nav class="sidebar-nav" style="width: 260px">
                <ul id="sidebarnav">

                    <li class="nav-small-cap">
                        <i class="mdi mdi-dots-horizontal"></i>
                        <!--                        <span class="hide-menu">Mes</span>-->
                    </li>

                    <li class="nav-item">
                        <a aria-expanded="false" class="nav-link toggle-menu waves-effect waves-dark nav-link"
                           href="#" data-target="adminMenu"><i class="mdi mdi-account-box"></i>
                            <span class="hide-menu">관리자</span></a>
                        <ul id="adminMenu" class="side-menu">
                            <ul>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/basic/list"><i class="mdi mdi-database"></i>
                                        <span class="hide-menu">기초 정보</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/worker">
                                        <i class="mdi mdi-account-box"></i>
                                        <span class="hide-menu">공정원 등록</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/selectProductionOrder">
                                        <i class="mdi mdi-access-point"></i>
                                        <span class="hide-menu">생산 지시 등록</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/monitoring"><i class="mdi mdi-monitor-multiple"></i>
                                        <span class="hide-menu">모니터링</span></a>
                                </li>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="#"><i class="mdi mdi-chart-bar"></i>
                                        <span class="hide-menu">통계분석</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/testSearch">
                                        <i class="mdi mdi-file-document-box"></i>
                                        <span class="hide-menu">조회 검색</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/orderList">
                                        <i class="mdi mdi-file-document"></i>
                                        <span class="hide-menu">생산지시 현황</span></a>
                                </li>

                            </ul>
                        </ul>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a aria-expanded="false" class="nav-link toggle-menu waves-effect waves-dark nav-link"
                           href="#" data-target="workerMenu"><i class="mdi mdi-account-box"></i>
                            <span class="hide-menu">작업자</span></a>
                        <ul id="workerMenu" class="side-menu">
                            <ul>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" id="productionOrderLink"
                                       class="sidebar-link waves-effect waves-dark sidebar-link" href="#">
                                        <i class="mdi mdi-monitor"></i>
                                        <span class="hide-menu">작업자 생산지시</span></a>
                                    <select class="custom-select" id="processEquipmentSelect"
                                            style="    background-color: #c7c7c7; margin: 0px 10px 0px;width: 180px;">
                                        <option selected>생산설비 선택</option>
                                    </select>

                                </li>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/productLog">
                                        <i class="mdi mdi-file-document-box"></i>
                                        <span class="hide-menu">생산일지</span></a>
                                </li>
                            </ul>
                        </ul>
                    </li>


                    <hr>


                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="row page-titles">
            <h2><a href="/mes/home" style=" text-decoration: none; color: #FFFFFF;">생산공정 모니터링</a></h2>
            <h3 id="clock">시계</h3>
        </div>
        <div id="search-type-button">
            <select name="search-processName" id="search-processName" style="width: 150px">
                <option value="" disabled selected>공정명 선택</option>
            </select>
            <select name="search-equipmentName" id="search-equipmentName" style="width: 130px"></select>
            <select id="search-workerName"></select>
            <button id="searchWorkerButton" class="search">검색</button>
            <button id="allSearchWorkerButton" onclick="wholeWorker()" class="search">전체검색
            </button>
        </div>
        <hr>
        <button id="searchButton1" class="search">용접</button>
        <button id="searchButton2" class="search">프레스</button>
        <button id="searchButton3" class="search">보링</button>
        <button id="searchButton4" class="search">레이져</button>

        <div id="monitoring-table"></div>
    </div>

    <footer class="footer text-center">
        All Rights Reserved by 김현우
    </footer>

</div>


<script>
    const selectedProcessName = document.getElementById("search-processName");
    const equipmentNameSelect = document.getElementById("search-equipmentName");
    const workerNameSelect = document.getElementById("search-workerName");
    document.getElementById('searchButton1').addEventListener('click', function() {
        filterAndDisplayData('용접');
    });

    document.getElementById('searchButton2').addEventListener('click', function() {
        filterAndDisplayData('프레스');
    });

    document.getElementById('searchButton3').addEventListener('click', function() {
        filterAndDisplayData('보링');
    });
    document.getElementById('searchButton4').addEventListener('click', function() {
        filterAndDisplayData('레이져');
    });
    // 데이터를 필터링하고 Handsontable에 표시하는 함수
    function filterAndDisplayData(processName) {
        const filteredData = originalData.filter(item => item.processName === processName);
        hot.loadData(filteredData);
    }

</script>
<script src="/js/sideBar.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        fetchAndUpdateData(); // 페이지 로드 시 데이터 초기 로딩
    });
    setInterval(fetchAndUpdateData, 30000); // 5분마다 fetchAndUpdateData 함수 실행

    function fetchAndUpdateData() {
        fetch(`/api/monitor/List`)
            .then(response => response.json())
            .then(data => {
                originalData = data; // 새로 받아온 데이터로 originalData 업데이트
                createHandsontable(originalData); // Handsontable에 새로운 데이터 로드
            })
            .catch(error => console.error('데이터 업데이트 중 오류 발생: ', error));
    }

    function createHandsontable(data) {
        const container = document.getElementById('monitoring-table');
        hot = new Handsontable(container, {
            cells: function (row, col, prop) {
                var cellProperties = {};
                cellProperties.className = 'htCenter';
                return cellProperties;
            },
            className: "htCenter",
            // colWidths: [ 100, 100, 100, 200, 200, 150,150], // 각 열의 너비를 픽셀 단위로 설정
            colWidths: [200, 200, 200, 200, 200, 200, 200], // 각 열의 너비를 픽셀 단위로 설정
            rowHeights: 30, // 모든 행의 높이를 픽셀 단위로 설정
            licenseKey: 'non-commercial-and-evaluation',
            data: data,
            colHeaders: ['공정명', '호기', '작업자', '시작시간', '종료시간', '생산량','상태'],
            columns: [
                {data: 'processName', readOnly: true, className: "htCenter"},
                {data: 'equipmentName', readOnly: true, className: "htCenter"},
                {data: 'processWorker', readOnly: true, className: "htCenter"},
                {data: 'registerDate', readOnly: true, className: "htCenter", renderer: timeRenderer},
                {data: 'endDate', readOnly: true, className: "htCenter"},
                {data: 'productionCount', readOnly: true, className: "htCenter"},
                {data: 'productState', readOnly: true, className: "htCenter"},
            ],
            height: 300,
            viewportRowRenderingOffset: 5, // 표시할 행의 오프셋
            columnSorting: false, // 정렬 활성화
            contextMenu: false, // 우클릭 메뉴 활성화
            manualRowMove: true, // 행 이동 활성화
            manualColumnMove: true, // 열 이동 활성화
            filters: true, // 필터링 활성화
            dropdownMenu: false, // 드롭다운 메뉴 활성화
            rowHeaders: true, // 행 번호 표시
            search: true, // 검색 기능 활성화
        });
    }

    function timeRenderer(instance, td, row, col, prop, value, cellProperties) {
        const timeFormatter = new Intl.DateTimeFormat('ko-KR', {
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false // 24시간 표시
        });

        // value가 유효한 날짜인지 확인
        const timeValue = value instanceof Date ? value : new Date(value);
        if (!isNaN(timeValue.getTime())) {
            // 시간 형식으로 변환
            td.textContent = timeFormatter.format(timeValue);
        } else {
            // 유효하지 않은 날짜인 경우 기본 텍스트 설정
            td.textContent = '';
        }
        td.className += ' htCenter';
        return td;
    }
</script>
<script src="/static/js/ProcessWorkerSearch.js"></script>
<script>


    document.getElementById('searchWorkerButton').addEventListener('click', processWorkerSearch);
    fetchProcessNames();
    fetchProcessNameAndWorkerName();
    fetchProcessNameAndEquipmentName();
    fetchEquipmentName();
    AllWorkerName();
    selectedProcessName.addEventListener('change', () => {
        // productionType 변경 시 productionName 값 초기화
        equipmentNameSelect.value = '';
        workerNameSelect.value = '';
        fetchProcessNameAndWorkerName();
    });
    equipmentNameSelect.addEventListener('change', function () {
        // 공정명 선택이 이미 되어있는 경우에만 작업자 이름을 가져옵니다.
        if (selectedProcessName.value) {
            fetchProcessNameAndEquipmentName();
        }
    });

</script>
<script>

    function updateClock() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        document.getElementById('clock').textContent = `${hours}:${minutes}:${seconds}`;
    }

    setInterval(updateClock, 1000); // 1초마다 시간 업데이트
    updateClock(); // 페이지 로드 시 시계 초기화
</script>



<script src="/static/dist/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/app.init.dark.js"></script>
<script src="/static/dist/js/app-style-switcher.js"></script>
<script src="/static/dist/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.js"></script>
<script src="/static/dist/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/dist/js/waves.js"></script>
<script src="/static/dist/js/sidebarmenu.js"></script>
<script src="/static/dist/js/feather.min.js"></script>
<script src="/static/dist/js/custom.min.js"></script>
<script src="/static/dist/js/pages/contact/contact.js"></script>


</body>
</html>
