<!DOCTYPE html>
<html lang="en"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<table class="table table-bordered no-wrap fs-3" id="product-log" th:border="1">
    <thead class="text-center">
    <div class="row">

        <div class="row">
            <div class="input-group col-2">
                <input type="date" class="form-control" id="start-date" placeholder="시작일">
                <input type="date" class="form-control" id="end-date" placeholder="종료일">
                <input aria-label="Text input with checkbox" class="form-control" name="search"
                       placeholder="담당자 조회" type="text" id="search-input">
                <button class="btn btn-light-info text-info font-weight-medium" id="filter-button">조회</button>
                <button onclick="openPopup()">일지 등록</button>
                <a href="/mes/home"><button>홈으로</button></a>
            </div>
        </div>
        <!-- 팝업 열기 버튼 -->


    </div>
    <tr>
        <th>순</th>
        <th>차종</th>
        <th>작업 일</th>
        <th>품번</th>
        <th>품명</th>
        <th>생산량</th>
        <th>담당자</th>
        <th>수정</th>
    </tr>
    </thead>


    <tbody>

    </tbody>

</table>
</body>

<div id="pagination">

    <input type="hidden" readonly id="page-number" th:value="1">
    <span id="page-list"></span>
</div>
<script src="/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/js/mes.js"></script>


</html>