<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="noindex,nofollow" name="robots"/>
    <title>작업자 생산 지시</title>
    <link
            href="https://www.devjune.com/"
            rel="canonical"
    />
    <link
            href="/static/assets/images/favicon.png"
            rel="icon"
            sizes="16x16"
            type="image/png"
    />
    <link href="/static/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="/static/dist/css/style.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/workerRegister.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/pageCss.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

</head>
<body>
<div class="preloader">
    <svg
            class="tea lds-ripple"
            fill="none"
            height="48"
            viewbox="0 0 37 48"
            width="37"
            xmlns="http://www.w3.org/2000/svg"
    >
        <path
                d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                stroke="#1e88e5"
                stroke-width="2"
        ></path>
        <path
                d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                stroke="#1e88e5"
                stroke-width="2"
        ></path>
        <path
                clip-rule="evenodd"
                d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"
                fill="#1e88e5"
                fill-rule="evenodd"
                id="teabag"
        ></path>
        <path
                d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12"
                id="steamL"
                stroke="#1e88e5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
        ></path>
        <path
                d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
                id="steamR"
                stroke="#1e88e5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
        ></path>
    </svg>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" style="height: 70px; left:40px;">
                <a
                        class="nav-toggler waves-effect waves-light d-block d-md-none"
                        href="javascript:void(0)"
                ><i class="ti-menu ti-close"></i
                ></a>
                <a class="navbar-brand" href="/mes/home" style="width: 130px; height: 70px;">

                    <span class="logo-text">
                                <b class="logo-icon">
                        <img src="/static/image/p-01.png" style=" height: 50px;"/>
                    </b>
                        MES 시스템</span>
                </a>

                <a
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="topbartoggler d-block d-md-none waves-effect waves-light"
                        data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse"
                        href="javascript:void(0)"
                ><i class="ti-more"></i
                ></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" style="width: 260px">
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile position-relative"
                 style="
              background: url(/static/assets/images/background/user-info.jpg)
                no-repeat;
            "
            >

            </div>
            <nav class="sidebar-nav" style="width: 260px">
                <ul id="sidebarnav">

                    <li class="nav-small-cap">
                        <i class="mdi mdi-dots-horizontal"></i>
                        <!--                        <span class="hide-menu">Mes</span>-->
                    </li>

                    <li class="nav-item">
                        <a aria-expanded="false" class="nav-link toggle-menu waves-effect waves-dark nav-link"
                           href="#" data-target="adminMenu"><i class="mdi mdi-account-box"></i>
                            <span class="hide-menu">관리자</span></a>
                        <ul id="adminMenu" class="side-menu">
                            <ul>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/basic/list"><i class="mdi mdi-database"></i>
                                        <span class="hide-menu">기초 정보</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/worker">
                                        <i class="mdi mdi-account-box"></i>
                                        <span class="hide-menu">공정원 등록</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/selectProductionOrder">
                                        <i class="mdi mdi-access-point"></i>
                                        <span class="hide-menu">생산 지시 등록</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="#"><i class="mdi mdi-monitor-multiple"></i>
                                        <span class="hide-menu">모니터링</span></a>
                                </li>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="#"><i class="mdi mdi-chart-bar"></i>
                                        <span class="hide-menu">통계분석</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/testSearch">
                                        <i class="mdi mdi-file-document-box"></i>
                                        <span class="hide-menu">조회 검색</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/orderList">
                                        <i class="mdi mdi-file-document"></i>
                                        <span class="hide-menu">생산지시 현황</span></a>
                                </li>

                            </ul>
                        </ul>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a aria-expanded="false" class="nav-link toggle-menu waves-effect waves-dark nav-link"
                           href="#" data-target="workerMenu"><i class="mdi mdi-account-box"></i>
                            <span class="hide-menu">작업자</span></a>
                        <ul id="workerMenu" class="side-menu">
                            <ul>
                                <li class="sidebar-item">
                                    <a aria-expanded="false" id="productionOrderLink"
                                       class="sidebar-link waves-effect waves-dark sidebar-link" href="#">
                                        <i class="mdi mdi-monitor"></i>
                                        <span class="hide-menu">작업자 생산지시</span></a>
                                    <select class="custom-select" id="processEquipmentSelect"
                                            style="    background-color: #c7c7c7; margin: 0px 10px 0px;width: 180px;">
                                        <option selected>생산설비 선택</option>
                                    </select>

                                </li>

                                <li class="sidebar-item">
                                    <a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="/mes/productLog">
                                        <i class="mdi mdi-file-document-box"></i>
                                        <span class="hide-menu">생산일지</span></a>
                                </li>
                            </ul>
                        </ul>
                    </li>


                    <hr>


                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <h2><a href="/mes/home" style="text-decoration: none; color: #FFFFFF;">작업자 생산 지시</a></h2>
                    </li>
                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <div class="widget-content searchable-container list">
            </div>
            <div class="card card-body">
                <div class="table-responsive">
                    <div id="productionOrder-table">
                        <button id="movePageButton" class="search">초중종물 검사 실행</button>
                        <div id="productionOrder-list"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer text-center">
        All Rights Reserved by 김현우
    </footer>

</div>

<script src="/js/sideBar.js"></script>
<script src="/js/productionOrder.js"></script>
<script src="/static/dist/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/app.init.dark.js"></script>
<script src="/static/dist/js/app-style-switcher.js"></script>
<script src="/static/dist/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.js"></script>
<script src="/static/dist/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/dist/js/waves.js"></script>
<script src="/static/dist/js/sidebarmenu.js"></script>
<script src="/static/dist/js/feather.min.js"></script>
<script src="/static/dist/js/custom.min.js"></script>
<script src="/static/dist/js/pages/contact/contact.js"></script>


</body>
</html>
