<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>작업자 생산 지시</title>
    <style>
        .process-equipment-section {
            margin-bottom: 20px;
        }

        .process-title {
            margin: 0 0 10px;
            font-size: 24px;
        }

        .equipment-links {
            display: flex;
            gap: 10px; /* 링크 사이의 간격 조절 */
            flex-wrap: wrap; /* 내용이 넘칠 경우 다음 줄로 넘김 */
        }

        .production-order-link {
            padding: 40px;
            background-color: #031657;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;

            min-width: 120px; /* 최소 너비 설정 */
            flex: 1; /* 유연한 너비 조정을 위해 */
            box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
        }

    </style>
</head>
<!-- Handsontable CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
<!-- Handsontable JS -->
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<body>
<h1>작업자 생산 지시</h1>

<div id="process-equipment-links">
    <div th:each="processEntry : ${processAndEquipment}" class="process-equipment-section">
        <h2 class="process-title"></h2>
        <div class="equipment-links">
            <div th:each="equipmentNumber : ${processEntry.value}" class="production-order-link" th:data-process-name="${processEntry.key}" th:data-equipment-number="${equipmentNumber}" th:text="${processEntry.key + ' ' + equipmentNumber}">
            </div>
        </div>
    </div>
</div>

<!--<div id="productionOrder-list"></div>-->
</body>
<script>
    // 링크를 클릭할 때 호출될 함수
    document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('.production-order-link');

        links.forEach(link => {
            link.addEventListener('click', function () {
                const processName = this.getAttribute('data-process-name');
                const equipmentNumber = this.getAttribute('data-equipment-number');
                navigateToProductionOrder(processName, equipmentNumber);
            });
        });
    });

    function navigateToProductionOrder(processName, equipmentNumber) {
        const encodedProcessName = encodeURIComponent(processName);
        const encodedEquipmentNumber = encodeURIComponent(equipmentNumber);
        // URL에 공정명과 설비명을 쿼리 파라미터로 포함시켜 전달
        const url = `/mes/productionOrder?processName=${encodedProcessName}&equipmentName=${encodedEquipmentNumber}`;
        window.location.href = url;
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetch(`/api/order/AllList`)
            .then(response => response.json())
            .then(data => {
                originalData = data;
                createHandsontable(originalData);
            });
    });
    function createHandsontable(data) {
        const container = document.getElementById('productionOrder-list');
        hot = new Handsontable(container, {
            cells: function (row, col, prop) {
                var cellProperties = {};
                cellProperties.className = 'htCenter';
                return cellProperties;
            },
            className: "htCenter",
            colWidths: [100, 150, 100, 100, 100, 100, 150, 200], // 각 열의 너비를 픽셀 단위로 설정
            rowHeights: 30, // 모든 행의 높이를 픽셀 단위로 설정
            licenseKey: 'non-commercial-and-evaluation',
            data: data,
            colHeaders: ['순', '공정명', '생산날짜', '호기', '작업자', '목표량', '임율시간', '비고'],
            columns: [
                {data: 'id', readOnly: true, className: "htCenter"},
                {data: 'processName', readOnly: true, className: "htCenter"},
                {data: 'productionDate', readOnly: true, renderer: dateRenderer, className: "htCenter"},
                {data: 'equipmentName', readOnly: true, className: "htCenter"},
                {data: 'processWorker', readOnly: true, className: "htCenter"},
                {data: 'productionCount', readOnly: true, className: "htCenter"},
                {data: 'registerDate', readOnly: true, className: "htCenter"},
                {data: 'note', readOnly: true, className: "htCenter"},
            ],
            hiddenColumns: {
                columns: [0], // 'ID' 열을 숨깁니다.
                indicators: false // 숨겨진 열의 지시자 표시 여부
            },
            height: 300,
            viewportRowRenderingOffset: 5, // 표시할 행의 오프셋
            columnSorting: false, // 정렬 활성화
            contextMenu: false, // 우클릭 메뉴 활성화
            manualRowMove: true, // 행 이동 활성화
            manualColumnMove: true, // 열 이동 활성화
            filters: true, // 필터링 활성화
            dropdownMenu: false, // 드롭다운 메뉴 활성화
            rowHeaders: true, // 행 번호 표시
            search: true, // 검색 기능 활성화
        });
    }
    function dateRenderer(instance, td, row, col, prop, value, cellProperties) {
        const dateFormatter = new Intl.DateTimeFormat('ko-KR', {
            year: 'numeric', // '2-digit'에서 'numeric'으로 변경하여 연도를 4자리로 표시
            month: '2-digit',
            day: '2-digit'
        });

        // value가 유효한 날짜인지 확인
        const dateValue = value instanceof Date ? value : new Date(value);
        if (!isNaN(dateValue.getTime())) {
            // 날짜 형식으로 변환
            td.textContent = dateFormatter.format(dateValue).replace(/\./g, '-').slice(0, -1);
        } else {
            // 유효하지 않은 날짜인 경우 기본 텍스트 설정
            td.textContent = '';
        }
        td.className += ' htCenter';
        return td;
    }
</script>
</html>

