<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공정원 관리</title>
    <style>
        h2 {
            text-align: center;
        }

        #worker-container {
            display: flex;
            justify-content: center; /* 수평 가운데 정렬 */
            align-items: flex-start; /* 수직 상단 정렬 */
        }

        #form-container {
            width: 50%;
            padding: 0 10px; /* 좌우 여백 추가 */
            box-sizing: border-box; /* padding 값이 요소의 전체 너비에 포함되도록 함 */
        }

        #image-container {

            width: 50%; /* 화면 전체 너비를 차지하도록 변경 */
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        #preview-image {

            align-content: end;
            object-fit: contain;
            width: 300px;
            height: 100%;
        }

        #worker-register-form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        select {
            width: 190px;
        }

        #worker-register-form label {
            margin-bottom: 10px;
            width: 100%; /* 라벨의 너비를 100%로 설정하여 부모 요소에 꽉 차도록 함 */
        }

        #worker-register-form label:last-child {
            margin-bottom: 0; /* 마지막 라벨의 마진을 제거하여 폼 요소들 사이의 간격을 일정하게 유지 */
        }

        a {
            text-decoration: none;
        }

        .form-Name {
            text-align: center;
            width: 100px;
            height: 25px;
        }

        #employee-Table {
            width: 100%;
        }

        #employee-Table td {
            text-align: center;

        }
    </style>
</head>
<body>
<h2>공정원 등록</h2>


<div id="worker-container">
    <div id="image-container">
        <!-- 이미지 미리 보기를 위한 요소 -->
        <img id="preview-image" src="/static/image/defaultWorker.png" alt="미리 보기">

    </div>
    <div id="form-container">
        <form id="worker-register-form">
            <input type="file" id="imageInput" accept="image/*">
            <label for="processName">
                <input type="text" value="공정명" readonly class="form-Name">
                <select name="processName" id="processName" required></select>
            </label>
            <label for="equipmentName">
                <input type="text" value="호기" readonly class="form-Name">
                <select name="equipmentName" id="equipmentName">
                    <option value="1호기">1호기</option>
                    <option value="2호기">2호기</option>
                    <option value="3호기">3호기</option>
                </select></label>
            <label for="workerName"><input type="text" value="성명" readonly class="form-Name">
                <input type="text" id="workerName" name="workerName" required></label>
            <label for="nation">
                <input type="text" value="국적" readonly class="form-Name">
                <input type="text" id="nation" name="nation" required>
            </label>
            <label for="position">
                <input type="text" readonly value="직책" class="form-Name">
<!--                <input type="text" id="position" name="position" required>-->
                <select name="position" id="position"  required></select>
            </label>
            <label for="workShift">
                <input type="text" value="주야간조" readonly class="form-Name">
                <select name="workShift" id="workShift" required></select>
            </label>
            <div id="navigation-container">
                <button id="registerButton" class="btn btn-dark-info">등록</button>
                <button id="homeButton" class="btn btn-dark-info">홈으로</button>
            </div>
        </form>
    </div>
</div>
<table id="employee-Table">
    <div>
        <label for="Employee-input"><input class="form-control" name="search"
                                           placeholder="담당자 조회" type="text" id="Employee-input">
            <button class="btn btn-light-info text-info font-weight-medium" id="Employee-button">조회</button>
        </label>
    </div>
    <thead class="text-center">
    <tr>
        <th>공정명</th>
        <th>호기</th>
        <th>성명</th>
        <th>국적</th>
        <th>직책</th>
        <th>근무</th>
    </tr>

    <tbody>

    </tbody>


</table>


<div id="pagination">
    <input type="hidden" readonly id="page-number" th:value="1">
    <span id="page-list"></span>
</div>

</body>
<script>
    fetch('/enums/positionEnum')
        .then(response=>response.json())
        .then(positionEnums=>{
            positionEnums.forEach(name=>{
                const option = document.createElement('option');
                option.value=name;
                option.textContent=name;
                position.appendChild(option);
                if(option.value === "조장"){
                    console.log("직책이 조장이에요!")
                }
            });
        })
        .catch(error=>console.error('Error fetching process types. positionEnum ! : ',error));

</script>
<script>
    // 공정원 검색, 리스트 JS
    const employeeTable = document.getElementById("employee-Table");
    const tbody = employeeTable.querySelector("tbody");
    const pageNumberSpan = document.getElementById("page-number");
    const pageList = document.getElementById("page-list");
    let currentPage = 0; // 현재 페이지
    let totalPages = 0;
    const itemsPerPage = 10;
    let currentSearchQuery = "";

    document.addEventListener("DOMContentLoaded", function () {
        currentSearchQuery = document.getElementById("Employee-input").value;
        fetch('/api/worker/totalEmployeeCount')
            .then(response => response.json())
            .then(data => {
                totalPages = Math.ceil(data / itemsPerPage);
                updatePagination();
            })
            .catch(error => {
                console.error('Employee count fetch error:', error);
            });
        fetchProcessEmployee(currentPage);
        console.log("현재 페이지가 몇인데?", currentPage);
    });

    document.getElementById("Employee-button").addEventListener("click", function () {
        const searchQuery = getSearchQuery();
        fetchProcessEmployeeSearch(searchQuery, 0);
    });

    function goToPage(page) {
        const searchQuery = getSearchQuery();
        fetchProcessEmployeeSearch(searchQuery, page);
    }

    function getSearchQuery() {
        return document.getElementById("Employee-input").value || "";
    }


    function fetchProcessEmployeeSearch(searchQuery, page) {
        fetch(`/api/worker/list?search=${searchQuery}&page=${page}`)
            .then(response => response.json())
            .then(data => {
                tbody.innerHTML = ""; // 이전 목록을 지웁니다.
                updateEmployeeList(data, page);
                totalPages = Math.ceil(data.page.totalElements / itemsPerPage); // totalElements로 totalPages 업데이트
                updatePagination();
            });
    }


    function fetchProcessEmployee(page) {
        fetch(`/api/worker/list?page=${page}`)
            .then(response => response.json())
            .then(data => {

                tbody.innerHTML = "";
                updateEmployeeList(data, page);
                updatePagination();
                // 마지막 페이지인 경우에 대한 처리
                // if (page === totalPages - 1) {
                //     document.getElementById("totalProductLogs").textContent = (page * itemsPerPage) + (data._embedded?.processWorkerList?.length || 0);
                // } else {
                //     document.getElementById("totalProductLogs").textContent = Math.max(...data._embedded?.processWorkerList?.map(processWorkerList => processWorker.id) || [0]);
                // }
            });
    }

    function updateEmployeeList(data, page) {
        tbody.innerHTML = "";
        console.log("data 뭐가있지?", data);
        console.log("_embedded 가있는가.?", data._embedded);

        if (data._embedded && data._embedded.processWorkerList) {
            data._embedded.processWorkerList.forEach(processWorker => {

                const processWorkerIdInput = document.createElement('input');
                processWorkerIdInput.type = 'hidden';
                processWorkerIdInput.value = processWorker.id;
                console.log(processWorkerIdInput)
                const row = document.createElement('tr');
                const processName = document.createElement('td');
                processName.textContent = processWorker.processName;
                const equipmentName = document.createElement('td');
                equipmentName.textContent = processWorker.equipmentName;
                const workerName = document.createElement('td');
                workerName.textContent = processWorker.workerName;
                workerName.addEventListener('click', () => {
                    openModifyPage(processWorkerIdInput.value);
                })
                const nation = document.createElement('td');
                nation.textContent = processWorker.nation;
                const position = document.createElement('td');
                position.textContent = processWorker.position;
                const workShift = document.createElement('td');
                workShift.textContent = processWorker.workShift;

                row.appendChild(processName);
                row.appendChild(equipmentName);
                row.appendChild(workerName);
                row.appendChild(nation);
                row.appendChild(position);
                row.appendChild(workShift);
                tbody.appendChild(row);
            });
        } else {
            console.error("_embedded.processWorkerList가 없습니다.");
        }
        currentPage = page;
    }

    function openModifyPage(processWorkerIdInputId) {

        const modifyUrl = `/mes/worker/${processWorkerIdInputId}`;
        window.open(modifyUrl, '_blank');
    }
</script>
<script src="/static/js/workerRegisterEnum.js"></script>
<script>
    // 이미지 미리 보기 기능
    const imageInput = document.getElementById('imageInput'); // 이미지 입력란
    const previewImage = document.getElementById('preview-image'); // 미리보기 이미지

    imageInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                previewImage.src = event.target.result;
                previewImage.style.display = 'block'; // 이미지가 선택되면 보이게 함
            }
            reader.readAsDataURL(file);
        } else {
            previewImage.src = '#'; // 파일 선택이 취소되면 빈 이미지로 설정
            previewImage.style.display = 'none'; // 이미지를 숨김
        }
    });
    const registerForm = document.getElementById("worker-register-form");


    document.getElementById('homeButton').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = "/mes/home";
    });

    registerForm.addEventListener('submit', (event) => {
        event.preventDefault();

        // 이미지 파일 가져오기
        const imageFile = imageInput.files[0];
        const processName = document.getElementById('processName').value;
        const equipmentName = document.getElementById('equipmentName').value;
        const workerName = document.getElementById('workerName').value;
        const nation = document.getElementById('nation').value;
        const position = document.getElementById('position').value;
        const workShift = document.getElementById('workShift').value;

        // FormData 객체 생성
        const formData = new FormData();
        formData.append('image', imageFile);
        formData.append('processName', processName);
        formData.append('equipmentName', equipmentName);
        formData.append('workerName', workerName);
        formData.append('nation', nation);
        formData.append('position', position);
        formData.append('workShift', workShift);

        const confirmed = window.confirm('공정원 등록하시겠습니까?');
        if (confirmed) {
            fetch('/api/worker/register', {
                method: 'POST',
                body: formData // FormData 객체 전송
            })
                .then(response => {
                    if (response.ok) {
                        alert('회원 등록완료');
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.error('fetch 오류 요청 ', error);
                });
        }
    });

</script>
<script src="/static/js/page.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="/static/dist/css/style.min.css" rel="stylesheet"/>

</html>